@import url("css/_reset.less");
@import url("css/_mixins.less");
@border-color: rgb(178, 178, 178);
@seperator-color: #333;
@accent-color: orange;

//
// for the ide
//
.ide-body {
    background-color: rgb(239, 239, 244);
}

.ide-game {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;

    .iphone5 {
        margin: 4px auto;
        width: 320px;
        height: 568px;
        border: 1px solid @border-color;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

.ide-editor {
    position: absolute;
    width: calc(100% - 4px);
    height: 490px;
    bottom: 3px;
    border: 1px solid @border-color;
    margin-left: 2px;

    iframe {
        width: 100%;
        height: 100%;
    }
}

//
// for the game
//
::-webkit-scrollbar {
    display: none;
}

.noselect {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none;   // Chrome/Safari/Opera
  -khtml-user-select: none;    // Konqueror
  -moz-user-select: none;      // Firefox
  -ms-user-select: none;       // Internet Explorer/Edge
  //user-select: none;         // Non-prefixed version, currently not supported by any browser */
}

body {
    background-color: black;
    font-family: monospace;
    .noselect
}

.shell {
    position: absolute;
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 36px;
    width: 100%;
    z-index: 10;
    background-color: black;
    color: #f0f0f0;

    .navbar-inner {
        width: 100%;
        height: 100%;
        padding: 8px 0 0 12px;
        div.title {
            display: inline-block;
            width: calc(100% - 44px);
            i:after {
                content: " ";
            }
        }
        div.menu {
            font-size: 16px;
            display: inline-block;
            color: @accent-color;
        }
        div.title i {
            color: @accent-color;
        }
    }
}

.content {
    background-color: white;
    min-height: 100%;
    .content-text {
        margin: 36px 10px 0 10px;
        padding: 16px 8px;
        p {
            padding-bottom: 12px;
        }
        transition: margin-bottom 0.25 ease;
    }
    &.overlay {
        opacity: 0.5;
        transition: opacity 0.25s ease; 
    }
    transition: opacity 0.25s ease; 
}

.choice-panel {
    position: fixed;
    width: 100%;
    top: 100%;
    border-top: 3px solid @seperator-color;
    background-color: white;
    transition: top 0.25s ease; 
    ul {
        padding: 32px;
        font-size: large;
        li {
            padding-bottom: 22px;
            cursor: pointer;
        }
        li:last-child {
            padding-bottom: 10px;
        }
        .kind {
            font-size: larger;
            width: 32px;
            height: 32px;
            float: left;
            border-radius: 50%;
            border: 2px solid black;
            background-color: @accent-color;
            text-align: center;
            transform: translateY(-6px);
            i {
                width: 32px;
                height: 32px;
            }
            &>div {
                width: 32px;
                padding-top: 5px;
            }
        }
        .choice {
            margin-left: 56px;
        }
    }
    &:before {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        top: 0;
        background-color: @accent-color;
        border-bottom: 3px solid @seperator-color;
    }
}

section.dialog {
    h1 {
        margin-left: 40%;
        text-transform: uppercase;
        font-weight: bold;
    }
    h2 {
        margin: 0 28%;
    }
    p {
        margin: 0 17%;
        padding-bottom: 12px;
    }
}

//section.text {
//}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-inner {
        width: 150px;
        border: 2px #666 solid;
        padding: 24px;
        background-color: white;
        border-radius: 16px;
        opacity: 0;
        transform: scale(0);
        p {
            font-size: x-large;
            text-align: center;
            line-height: 1.25;
        }
    }
    &.show {
        left: 0;
        .modal-inner {
            opacity: 1;
            transform: scale(1);
            transition: all 0.15s ease;
        }
    }
}
